.navigate-menu {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-item {
  font-size: 18px;
  padding-right: 30px;
  text-decoration: none;
  color: #000;
}

.nav-item:hover,
.link:hover {
  color: #007bff;
}

.nav-item-active {
  color: #007bff;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: #000;
}
