.title {
  margin-bottom: 20px;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalSlider {
  width: 80%;
  height: 80%;
}

.modalImage {
  width: 850px;
  height: 850px;
}
