.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailsContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  row-gap: 15px;
  max-width: 600px;
}

.img {
  max-width: 300px;
}

.button {
  font-size: 18px;
  padding: 8px 48px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #ff3d81;
  color: white;
  border: none;
}

.title {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detailItem {
  display: contents;
}

.label {
  text-align: left;
  color: #9b9b9b;
}

.value {
  text-align: left;
}
