.card {
  width: 250px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.banner {
  width: 240px;
  border-radius: 10px;
}

.poster {
  max-width: 300px;
  border-radius: 10px;
}

.movieImages {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
