.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wathsLink {
  margin-top: 10px;
}

.wathsLink h2 {
  margin-bottom: 15px;
}

.rate {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rate-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rate-source {
  font-size: 18px;
  color: #ffd700;
}
