.nav {
  display: flex;
}

.item {
  margin-left: 20px;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link-active {
  color: #ff3d81;
  border-bottom: 1px solid #ff3d81;
}
