.custom_input {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 300px;
}

.dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  max-height: 260px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 10;
  overflow-y: scroll;
}

.film {
  list-style-type: none;
  padding: 2px 4px;
  cursor: pointer;
}

.film:hover {
  background-color: #acacac;
  border-radius: 10px;
}
