.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 320px;
}

.name {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;
  flex-grow: 1;
}

.info {
  display: flex;
  justify-content: space-between;

}

.year {
  font-size: 16px;
  color: #151515;
  opacity: 0.3;
}

.rate {
  font-size: 16px;
  color: #ffd233;
}

.link {
  text-decoration: none;
  color: #000000;
  margin-bottom: 15px;
}
